<h4 class="text-center">{{titulo}}</h4>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    @for (columna of columnas; track $index) {
      <ng-container>
        <td>{{ columna }}</td>
      </ng-container>

    }
  </thead>
  <tbody>
    @for (item of data; track $index) {
   <tr>
    @for (columna of columnas; track $index) {
      <ng-container>
        <td>{{item[columna]}}</td>
      </ng-container>
    }
    <td><button type="button" class="btn btn-success" (click)="enviarInformacion(item)">Info</button></td>
   </tr>
  }
  </tbody>
</table>
</div>
